/* estilos.css */
* {
  background-color: blueviolet;
}

h1{
    color: rgb(44, 17, 48);
  font-family: 'Times New Roman', Times, serif 32px;
}

 h2{
    color: rgb(44, 17, 48);
  font-family: 'Times New Roman', Times, serif 28px;
}
